[Unit]
Description=Run Pontoon sync every 5 minutes
Requires=docker.service

[Timer]
OnActiveSec=5min
OnUnitInactiveSec=5min

[Install]
WantedBy=timers.target
